* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #002b34;
	background-image: url(../img/backgroundwithjuststars.jpg);
	font-family: Lato, Arial, Helvetica, sans-serif;
}

header h1 {
	display: none;
}

nav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

nav img {
	width: 80%;
}

header, footer {
	padding: 1.5em;
	color: white;
}

footer p {
	text-align: center;
}

header ul li, footer ul li {
	display: inline;
	list-style-type: none;
}

header ul img, footer ul img {
	width: 18%;
}

main {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: white;
}

main h1 {
	font-family: 'Audiowide', cursive;
	color: #9ecb3a;
	text-shadow: 1px 1px 1px #878787;
	font-size: 225%;
	text-align: center;
}

main h2 {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	color: #0055a0;
	font-size: 175%;
}

#footernav {
	text-align: center;
}

#footernav a {
	text-decoration: none;
	margin-right: 0.5em;
	padding-right: 0.5em;
	color: #9ecb3a;
}

#footerindex, #footerservices, #footerevents {
	border-right: 0.125em solid white;
}

#footernav a:hover {
	color: red;
}

#specialscontent, #eventscontent, #contactcontent {
	display: none;
}

#socialmediaheader ul, #socialmediafooter ul {
	padding: 0;
}

#socialmediafooter {
	text-align: center;
}

@media (max-width: 700px) {
	#socialmediaheader {
		display: none;
	}

	#logo {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		background-color: black;
	}
}

@media (min-width: 700px) {
	body {
		background-image: url(../img/backgroundwithalien.jpg);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	#logo {
		width: 22%;
		margin-left: 5%;
		margin-right: 30%;
		float: left;
	}

	#socialmediaheader img {
		width: 8%;
	}

	#socialmediaheader {
		margin-top: 3%;
	}

	#socialmediafooter {
		display: none;
	}

	nav img {
		width: 20%;
	}

	main {
		width: 55%;
		margin-left: 30%;
		margin-top: -37%;
		border-radius: 5%;
		border: 0.75em ridge red;
	}

	header {
		padding-bottom: 3em;
		background-color: rgba(0, 0, 0, 0.5);
	}

	footer {
		padding: 0.5em;
		color: black;
		font-weight: bold;
	}

	#footernav {
		text-align: center;
	}

	#footernav ul li {
		text-decoration: none;
	}

	#footerindex, #footerservices, #footerevents {
	border-right: 0.125em solid black;
}

	#footernav a {
	color: #0055a0;
	}

	#footernav a:hover {
		color: red;
	}

}